@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
